<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Jepnidah Hasibuan">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Aplikasi Monitoring Ibadah Harian - LDK AL-IZZAH UINSU</title>
    <!-- Icons-->
    <link rel="stylesheet" href="{{ url_for('static', filename='apaxy/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='apaxy/css/app.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='apaxy/css/icons.min.css') }}">
</head>

{% block body %}

{% endblock %}

 <!-- CoreUI and necessary plugins-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{{ url_for('static', filename='apaxy/libs/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='apaxy/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='apaxy/libs/metismenu/metisMenu.min.js') }}"></script>
<script src="{{ url_for('static', filename='apaxy/libs/simplebar/simplebar.min.js') }}"></script>
<script src="{{ url_for('static', filename='apaxy/libs/node-waves/waves.min.js') }}"></script>
<script src="{{ url_for('static', filename='apaxy/js/app.js') }}"></script>
<script>
    
</script>
</html>